@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 20px;
    gap: 10px;
    margin-top: 20%;
    background-color: white;
    box-shadow: 0 0 7px black;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.inputDiv{
    display: flex;
    gap: 10px;
}
.botao {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 68%;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}
.separar {
    justify-content: space-between;
    display: flex;
    width: 90%;
}
.apagador {
    border: none;
    background-color: transparent;
    transition: .4s;
}
.items .apagador {
    display: none;
}
.items:hover .apagador {
    display: block;
    color: red;
    cursor: pointer;
}
input {
    border: none;
    outline: none;
}
#checkbox {
    width: 15px;
    height: 20px;
    border-color: purple
}
